<% include header %>

<div class="container">
    <div class="row mt-5">
        <div class="col-11 col-lg-8 col-xl-6 mx-auto jumbotron">
            <h1>Bejelentkezés</h1>
            <form>
                <div class="form-group">
                    <label for="password">Jelszó</label>
                    <input type="password" name="password" class="form-control" id="password"
                           aria-describedby="passwordHelp">
                </div>

                <button type="submit" class="btn btn-info mr-sm-2">Bejelentkezés</button>
            </form>
        </div>
    </div>
</div>

<% include footer %>